<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Marv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <userSettings>
    <Marv.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>-1,-1</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>350,525</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="PathToLastSource" serializeAs="String">
        <value>.\welcome.md</value>
      </setting>
      <setting name="ShowRawHtml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PinToBottom" serializeAs="String">
        <value>False</value>
      </setting>
    </Marv.Properties.Settings>
  </userSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="ApplicationDiagnosticsAppender" type="log4net.Appender.RollingFileAppender">
      <appendToFile value="true" />
      <datePattern value="yyyy-MM-dd" />
      <file value=".\Logs\diagnostics.txt" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message %exception %newline" />
      </layout>
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="10" />
      <preserveLogFileNameExtension value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="true" />
    </appender>
    <root>
      <level value="TRACE" />
      <appender-ref ref="ApplicationDiagnosticsAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>